body {
  background-color: #f6f6f6;
}

.container {
  margin: auto;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

main {
  padding-top: 55px;
  max-height: 5000vh;
  min-height: 100vh;
  padding-bottom: 20px;
}

footer {
 position: relative;
 right: 0;
 bottom: 0;
 left: 0;
 padding:  1rem;
 text-align: center;
 width: 100%;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.title-main {
  padding-top: 20px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
}

.h-100 {
  padding: 20px 20px;
}

.categories-row {
  padding-top: 15px;
}

.toast-top-right{
  top: 60px !important;
}

.hub {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-50%, -50%);
  text-decoration: none !important;
}

.hub span:nth-child(1) {
  color: #fff;
}

.hub span:nth-child(2) {
  background: #FF9900;
  color: #000000;
  border-radius: 1vw;
  display: inline-block;
  margin-left: 3px;
}

.form-control {
  padding-right: 20px !important;
}

#checkbox-answer{
  float: right;
  margin: -26px 5px;
}

#error_explanation {
  color: red;
}

.exam {
  background-color: #f8bd32;
  margin: 10px 20px;
  height: 300px;
}

.item {
  padding-top: 45px;
}

.title {
  background: white;
  position: relative;
  left: 10px;
  border-radius: 2%;
  margin: 10px 0px;
}

.info-card {
  display: inline-block;
  margin: 15px;
  border-radius: 5px;
  background-color: #4d5755;
  border: 2px solid #4d5775;
  text-align: center;
  width: 120px;
}

.rating {
  display: inline-block;
  max-width: 195px;
  margin: 20px;
}

.info-card p {
  color: white;
}

.count {
  background-color: white;
}

.count p {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.difficulity p {
  font-weight: bold;
  font-size: 20px;
}

.btn-click {
  background-color: black;
  color: #f8bd32;
  font-weight: bold;
}

.btn-click:hover {
  color: #fff;
}

.name-title, .name-exam {
  margin: 35px 10px;
  border: 1px solid red;
  text-align: center;
}

.name-title p {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  font-family: cursive;
}

.name-exam p {
  font-family: cursive;
  text-align: justify;
}

.delete {
  float: right;
  font-size: 25px !important;
  margin: 5px -10px;
  cursor: pointer;
}

.fa-question, .fa-clock-o {
  color: #f8bd32;
  font-size: 40px !important;
}

/* -----------------------------------------
   Timeline
----------------------------------------- */
.timeline {
  list-style: none;
  padding-left: 0;
  position: relative;
  float: left;
  height: 280px;
  overflow-y: scroll;
  width: 260px !important;
}

.timeline:after {
  height: auto;
  width: 1px;
  background: #e3e3e3;
  position: absolute;
  top: 5px;
  left: 30px;
  bottom: 25px;
}

.timeline.timeline-sm:after {
  left: 12px;
}

.timeline li {
  position: relative;
  padding-left: 70px;
  margin-bottom: 20px;
}

.timeline li:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e3e3e3;
  position: absolute;
  left: 24px;
  top: 5px;
}

.timeline li .timeline-date {
  display: inline-block;
  width: 100%;
  color: #a6a6a6;
  font-style: italic;
  font-size: 13px;
}
.timeline.timeline-icons li {
  padding-top: 7px;
}

.timeline.timeline-icons li:after {
  width: 32px;
  height: 32px;
  background: #fff;
  border: 1px solid #e3e3e3;
  left: 14px;
  top: 0;
  z-index: 11;
}

.timeline.timeline-icons li .timeline-icon {
  position: absolute;
  left: 4px !important;
  top: 2px;
  z-index: 12;
}

.timeline.timeline-icons li .timeline-icon [class*=glyphicon] {
  top: -1px !important;
}

.timeline.timeline-icons.timeline-sm li {
  padding-left: 40px;
  margin-bottom: 10px;
}

.timeline.timeline-icons.timeline-sm li:after {
  left: 1px;
  top: 14px;
}

.timeline.timeline-icons.timeline-sm li .timeline-icon {
  left: 4.5px;
}

.timeline.timeline-advanced li {
  padding-top: 0;
}

.timeline.timeline-advanced li:after {
  background: #fff;
  border: 1px solid #29b6d8;
}

.timeline.timeline-advanced li:before {
  content: "";
  width: 52px;
  height: 52px;
  border: 10px solid #fff;
  position: absolute;
  left: 4px;
  top: -10px;
  border-radius: 50%;
  z-index: 12;
}

.timeline.timeline-advanced li .timeline-icon {
  color: #29b6d8;
}

.timeline.timeline-advanced li .timeline-date {
  width: 75px;
  position: absolute;
  right: 5px;
  top: 3px;
  text-align: right;
}

.timeline.timeline-advanced li .timeline-title {
  font-size: 17px;
  margin-bottom: 0;
  padding-top: 5px;
  font-weight: bold;
}

.timeline.timeline-advanced li .timeline-subtitle {
  display: inline-block;
  width: 100%;
  color: #a6a6a6;
}

.timeline.timeline-advanced li .timeline-content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 70px;
}

.timeline.timeline-advanced li .timeline-content p {
  margin-bottom: 3px;
}

.timeline.timeline-advanced li .timeline-content .divider-dashed {
  padding-top: 0px;
  margin-bottom: 7px;
  width: 200px;
}

.timeline.timeline-advanced li .timeline-user {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.timeline.timeline-advanced li .timeline-user:before,
.timeline.timeline-advanced li .timeline-user:after {
  content: " ";
  display: table;
}

.timeline.timeline-advanced li .timeline-user:after {
  clear: both;
}

.timeline.timeline-advanced li .timeline-user .timeline-avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 10px;
}

.timeline.timeline-advanced li .timeline-user .timeline-user-name {
  font-weight: bold;
  margin-bottom: 0;
}

.timeline.timeline-advanced li .timeline-user .timeline-user-subtitle {
  color: #a6a6a6;
  margin-top: -4px;
  margin-bottom: 0;
}

.timeline.timeline-advanced li .timeline-link {
  margin-left: 5px;
  display: inline-block;
}

.timeline-load-more-btn {
  margin-left: 70px;
}

.timeline-load-more-btn i {
  margin-right: 5px;
}


/* -----------------------------------------
   Dropdown
----------------------------------------- */
.dropdown-menu{
    padding:0 0 0 0;
}

.title-header {
  padding: 13px 179px 10px 88px;
  border-radius: 5px 5px 0px 0px;
  text-decoration: none;
  background: #f7f9fe;
  font-weight: bold;
  border-bottom: 1px solid #e3e3e3;
  color: darkblue;
}

.footer-dropdown {
  padding: 43px 140px 3px 0;
  border-radius: 0px 0px 5px 5px;
  background: #f7f9fe;
  border-bottom: 1px solid #e3e3e3;
}

/* -----------------------------------------
   Badge
----------------------------------------- */

.badge{
    padding: 3px 5px 2px;
    position: absolute;
    top: 8px;
    right: 5px;
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
.badge-danger {
    background-color: #db5565;
}

.notification {
  position: absolute;
  left: -216px;
  top: 51px;
}

.image-timeline-icon {
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 20px;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

.steps-content {
  padding-top: 0px !important;
  border: 1px solid #b77716;
}

.question-content h2{
  float: left;
}

.question-answers {
  clear: left;
}

hr {
  clear: left;
}
